* {
  font-family: Nunito Sans, Helvetica, Arial, sans-serif;
}
body {margin: 0;}
h1 {font-size: 48px;}
header, section {text-align: center;}
.main-container {width: 100%;}
.my-box-shadow{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* Button fixed: Toggle menu, scroll to top */
.my-btn {
  padding: 10px;
  background-color: #888;
  border-radius: 2px;
  color: #fff;
}
.my-btn-fixed {
  position: fixed;
  z-index: 1001;
  cursor: pointer;
}
.toggle-menu {
  left: 10px;
  top: 10px;
}
.toggle-menu.responsive{
  left: 260px;
}
.scroll-to-top {
  right: 10px;
  bottom: 10px;
}
.toggle-menu a, .scroll-to-top a{
  color: #fff;
}
/* Intro */
#intro {padding: 60px 3px;}
.group-btn { margin-top: 120px;}
.group-btn a {
  margin: 4px;
  text-decoration: none;
}
/* Section */
.section-title{
  text-transform: uppercase;
}
.section-title::after {
  content: "";
  display: block;
  border: 3px solid #000;
  width: 150px;
  margin: 7px auto;
}
/* Portfolio */
#portfolio {
  padding: 40px 0px;
}
.flex-grid {
  padding: 15px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
}
.cell {
  margin-bottom: 15px;
  border: 0 solid #f0f0f0;
  border-radius: 4px;
}
.cell-footer{
  width: 100%;
  background-color: #f8f8f9;
  height: auto;
  display: table;
}
.cell-footer .tags {
  float: left;
  text-align: left;
  padding: 15px 10px;
  width: 70%;
  background-color: inherit;
}
.cell-footer .tags span {font-size: small;}
.cell-footer .how-to{
  float: left;
  text-align: right;
  width: 30%;
  padding: 15px 10px;
  background-color: inherit;
}
.cell-footer .how-to a {font-size: small;}
/* About */
.about-content {padding: 15px 0px;}
.about-content p{
  text-align: justify;
  padding: 10px 0px;
}
/* Contact */
#contact {
  padding: 40px 0px;
}
form{border: none;}
form input, textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
form input[type=text], input[type=email], textarea{
  border: 1px solid #ccc;
  border-radius: 2px;
}
form textarea {
  resize: vertical;
  -moz-resize: vertical;
  height: 7em;
}
form input[type="submit"] {
  font-size: medium;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
/* Footer */
footer {
  text-align: center;
  font-size: small;
  background-color: #ccc;
  padding: 3px;
}
/* Side bar */
.side-bar {
  background-color: #333;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -250px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  justify-content: space-between;
}
.side-bar.responsive{
  left: 0px;
}
.side-top {flex-grow: 1;}
.side-bottom{
  flex-shrink: 0;
  padding: 10px;
}
.side-bottom i {
  color: #fff;
  margin: 0.25rem;
  transform: scale(1.1);
}
.img-profile {
  width: 150px;
  margin: 50px 0;
  border: 2px solid #fff;
  border-radius: 50%;
} 
.name-profile{
  text-transform: uppercase;
  font-size: large;
}
.desc-profile{
  font-size: small;
  color: #888;
}
.nav-profile {
  list-style: none;
  padding: 0;
}
.nav-profile li{
  padding: 0.5rem;
  margin: 0.5rem;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .cell{
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 calc(50% - 1.5rem);
    width: 50%;
    margin: 0.5rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .main-container {
    width: calc(100% - 250px);
    float: right;
  }
  .cell{
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 calc(50% - 1.5rem);
    width: 50%;
    margin: 0.75rem;
  }
  .side-bar{
    left: 0px;
    z-index: 1002;
  }
  .toggle-menu.responsive{
    left: 10px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .cell{
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 calc(33.3333% - 1.5rem);
    width: 33.3333%;
    margin: 0.75rem;
  }
}